<div class="mini-footer">
  <div class="row">
    <div class="medium-12 large-12 column logos-footer" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; gap: 24px; padding: 24px 0">
      <p style="color: #333; font-size: 14px;">
        Este programa es público, ajeno a cualquier partido político. Queda prohibido el uso para fines distintos a los establecidos en el Programa.
      </p>
    </div>
    <div class="medium-12 large-12 column logos-footer" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; gap: 24px; padding: 24px 0">
         <a rel="decidim noopener"
           href="https://monterrey.gob.mx"
           target="_blank">
          <img src="/images/logo-monterrey.svg" alt="" style="height: 32px;" />
        </a>

        <a rel="decidim noopener"
           href="https://decidim.org/"
           target="_blank">
          <img src="/images/logo-decidim.svg" alt="" style="height: 32px;" />
        </a>
    </div>
  </div>
</div>
