// This is a file that can be overridden by the application in order to override
// some of the Foundation/Decidim SCSS settings and variables after the default
// settings have been loaded.
//
// To override styles use decidim_application.scss
//
// By default this is empty.
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  clear: both;
  margin: 0;
  padding: 0;
}

.mty-section {


  .section {
    &-one {
      background-color: #d25838;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 60px 1fr 2.5fr 60px;
      grid-column: 1 / 13;
      column-gap: 24px;
      row-gap: 24px;

      &__logo {
        grid-column: 5 / 9;
        grid-row: 2;

        img {
          width: 100%;
        }
      }

      &__header {
        grid-column: 2 / 12;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;

        &-title {
          width: 100%;

          img {
            width: 100%;
          }
        }

        &-info {
          width: 100%;

          p {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            color: white;
            line-height: 32px;
            letter-spacing: 0.18%;
            font-size: 20px;
            text-align: center;
          }
        }

        &-action {
          a {
            font-family: "Roboto", sans-serif;
            text-decoration: none;
            color: white;
            padding: 7px 15px;
            background-color: #ecb731;
            border-radius: 4px;
            font-size: 25px;
            width: 100%;
            text-align: center;
            display: block;
          }
        }
      }
    }

    &-two {
      background-color: #009bca;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 60px 0.5fr repeat(5, 1fr) 60px;
      grid-column: 1 / 13;
      column-gap: 24px;
      row-gap: 40px;

      &__title {
        grid-column: 3 / 11;
        grid-row: 2;
        text-align: left;
        letter-spacing: 1px;

        h3 {
          font-weight: 700;
          font-family: "Roboto", sans-serif;
          font-size: 24px;
          text-transform: uppercase;
          font-style: bold;
          letter-spacing: 0.18%;
          color: white;

          span {
            font-size: 33px;
          }
        }
      }

      &__puzzle-one,
      &__paragraph-one {
        grid-row: 3;
      }

      &__puzzle-two,
      &__paragraph-two {
        grid-row: 4;
      }

      &__puzzle-three,
      &__paragraph-three {
        grid-row: 5;
      }

      &__puzzle-four,
      &__paragraph-four {
        grid-row: 6;
      }

      &__puzzle-five,
      &__paragraph-five {
        grid-row: 7;
      }

      &__puzzle-one,
      &__puzzle-two,
      &__puzzle-three,
      &__puzzle-four,
      &__puzzle-five {
        grid-column: 2 / 6;
        display: flex;
        justify-content: start;
        align-items: start;
      }

      &__paragraph-one,
      &__paragraph-two,
      &__paragraph-three,
      &__paragraph-four,
      &__paragraph-five {
        grid-column: 5 / 12;

        p {
          font-size: 20px;
          line-height: 32px;
          color: white;
          font-family: "Roboto", sans-serif;
          text-align: center;
          font-weight: 300;
        }
      }
    }

    &-three {
      grid-column: 1 / 13;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 60px 0.5fr 3fr 60px;
      grid-gap: 24px;

      &__title {
        grid-column: 2 / 12;
        grid-row: 2;

        h3 {
          font-weight: 700;
          font-family: "Roboto", sans-serif;
          font-size: 24px;
          text-transform: uppercase;
          font-style: bold;
          letter-spacing: 0.18%;
          color: black;
          text-align: left;

          span {
            font-size: 33px;
          }
        }
      }

      &__image {
        grid-column: 2 / 12;
        grid-row: 3;
        outline: 1px solid black;
        height: 300px;
      }
    }

    &-four {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 30px 0.5fr 1.3fr 2fr 0.7fr;
      grid-gap: 24px;
      background-color: #f2f2f2;

      &__header {
        grid-column: 2 / 12;
        grid-row: 2;

        h3 {
          font-weight: 700;
          font-family: "Roboto", sans-serif;
          font-size: 24px;
          text-transform: uppercase;
          font-style: bold;
          letter-spacing: 0.18%;
          color: black;
          text-align: left;

          span {
            font-size: 33px;
          }
        }
      }

      &__title {
        grid-column: 2 / 12;
        grid-row: 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &-label {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #009bca;
          font-size: 30px;
          font-family: "Roboto", sans-serif;
        }

        &-info {
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          line-height: 32px;
        }

        &-number {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: #009bca;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Roboto", sans-serif;
          color: white;
          font-size: 48px;
          line-height: 48px;
          font-weight: 700;
        }
      }

      &__body {
        grid-column: 2 / 12;
        grid-row: 4;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 0.5fr 2fr;
        grid-gap: 24px;

        .part-section__title {
          grid-row: 1;
          grid-column: 1 / 13;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-size: 20px;
        }

        .part-section__image {
          grid-row: 2;
          grid-column: 1 / 13;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-size: 20px;

          img {
            width: 100%;
          }
        }
      }

      &__action {
        grid-column: 2 / 12;
        grid-row: 5;
        border-bottom: 1px solid #009bca;

        a {
          width: 100%;
          text-align: center;
          display: block;
          font-family: "Roboto", sans-serif;
          text-decoration: none;
          color: white;
          padding: 7px 0px;
          background-color: #009bca;
          border-radius: 4px;
          font-size: 25px;
        }
      }
    }

    &-five {
      grid-column: 1 / 13;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 5px 2fr repeat(3, 2.5fr) 1fr;
      grid-gap: 24px;
      background-color: #f2f2f2;

      &__title {
        grid-column: 2 / 12;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &-label {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ecb731;
          font-size: 30px;
          font-family: "Roboto", sans-serif;
        }

        &-info {
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          line-height: 32px;
        }

        &-number {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: #ecb731;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Roboto", sans-serif;
          color: white;
          font-size: 48px;
          line-height: 48px;
          font-weight: 700;
        }
      }

      &__card {
        grid-column: 2 / 12;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-title {
          font-size: 25px;
          text-align: left;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
        }

        &-paragraph {
          font-size: 20px;
          text-align: left;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
        }
      }

      .mty-card-one {
        grid-row: 3;
      }

      .mty-card-two {
        grid-row: 4;
      }

      .mty-card-three {
        grid-row: 5;
      }

      &__action {
        grid-column: 2 / 12;
        grid-row: 6;
        border-bottom: 1px solid #ecb731;

        a {
          width: 100%;
          text-align: center;
          display: block;
          font-family: "Roboto", sans-serif;
          text-decoration: none;
          color: white;
          padding: 7px 0px;
          background-color: #ecb731;
          border-radius: 4px;
          font-size: 25px;
        }
      }
    }

    &-six {
      grid-column: 1 / 13;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 10px 2fr 6fr 0.7fr;
      grid-gap: 24px;
      background-color: #f2f2f2;

      &__title {
        grid-column: 2 / 12;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &-label {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #d25838;
          font-size: 30px;
          font-family: "Roboto", sans-serif;
        }

        &-info {
          width: 100%;
          text-align: left;
          display: flex;
          justify-content: left;
          align-items: left;
          font-family: "Roboto", sans-serif;
        }

        &-number {
          width: 60px;
          height: 60px;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          background-color: #d25838;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Roboto", sans-serif;
          color: white;
          font-size: 48px;
          line-height: 48px;
          font-weight: 700;
        }
      }

      &__info {
        grid-column: 2 / 12;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
          padding-bottom: 15px;
          text-align: center;
          font-size: 20px;
          line-height: 32px;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
        }
      }

      &__action {
        grid-column: 2 / 12;
        grid-row: 5;
        border-bottom: 1px solid #009bca;

        a {
          width: 100%;
          text-align: center;
          display: block;
          font-family: "Roboto", sans-serif;
          text-decoration: none;
          color: white;
          padding: 7px 0px;
          background-color: #009bca;
          border-radius: 4px;
          font-size: 25px;
        }
      }
    }

    &-seven {
      display: grid;
      background-color: #d25838;
      grid-column: 1 / 13;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 40px repeat(2, 1fr) 40px;

      &__title {
        grid-row: 2;
        grid-column: 2 / 12;
        font-size: 39px;
        text-align: center;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: white;
      }

      &__subtitle {
        grid-row: 3;
        grid-column: 2 / 12;
        font-size: 20px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: white;
      }
    }

    &-eight {
      display: grid;
      background-color: #f2f2f2;
      grid-column: 1 / 13;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 40px 2fr 0.5fr 30px;
      row-gap: 24px;

      &__info {
        grid-column: 2 / 12;
        grid-row: 2;
        font-size: 20px;
        text-align: center;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: black;
      }

      &__action {
        grid-column: 2 / 12;
        grid-row: 3;

        a {
          width: 100%;
          text-align: center;
          display: block;
          font-family: "Roboto", sans-serif;
          text-decoration: none;
          color: white;
          padding: 7px 0px;
          background-color: #d25838;
          border-radius: 4px;
          font-size: 25px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .mty-section {
    .section {
      &-one {
        grid-template-rows: 70px 300px 70px;

        &__logo,
        &__header {
          grid-row: 2;
        }

        &__logo {
          grid-column: 3 / 6;
        }

        &__header {
          grid-column: 6 / 11;

          &-info {
            width: 100%;

            p {
              text-align: left;
            }
          }

          &-action {
            a {
              width: 40%;
            }
          }
        }
      }

      &-two {

        &__puzzle-one,
        &__puzzle-two,
        &__puzzle-three,
        &__puzzle-four,
        &__puzzle-five {
          grid-column: 3 / 4;
        }

        &__paragraph-one,
        &__paragraph-two,
        &__paragraph-three,
        &__paragraph-four,
        &__paragraph-five {
          grid-column: 4 / 11;

          p {
            text-align: start;
          }
        }
      }

      &-three {
        &__title {
          grid-column: 3 / 11;
        }

        &__image {
          grid-column: 3 / 11;
        }
      }

      &-four {
        grid-template-rows: 30px 0.2fr 0.5fr 2fr 0.7fr;

        &__header {
          grid-column: 3 / 11;
        }

        &__title {
          flex-direction: row;
          justify-content: center;

          &-label {
            width: 25%;
          }

          &-info {
            width: 40%;
            text-align: start;
          }
        }

        &__body {
          grid-column: 3 / 11;

          .part-section__title {
            text-align: start;
          }
        }

        &__action {
          grid-column: 3 / 11;

          a {
            width: 400px;
          }
        }
      }

      &-five {
        grid-template-rows: 5px 0.5fr 2fr 2fr 2fr 1fr;

        &__title {
          flex-direction: row;
          justify-content: center;

          &-label {
            width: 25%;
          }

          &-info {
            width: 40%;
            text-align: start;
          }
        }

        &__card {
          grid-column: 3 / 11;
        }

        &__action {
          grid-column: 3 / 11;

          a {
            width: 40%;
          }
        }
      }

      &-six {
        grid-template-rows: 10px 1fr 30px;

        &__title {
          grid-column: 3 / 6;
          grid-row: 2;
          justify-content: space-between;
          align-items: start;

          &-label {
            padding-top: 10px;
            padding-right: 30px;
          }
        }

        &__info {
          grid-column: 6 / 11;
          grid-row: 2;

          p {
            text-align: start;
          }
        }
      }

      &-seven {

        &__title,
        &__subtitle {
          grid-column: 3 / 10;
          text-align: start;
        }
      }

      &-eight {

        &__info,
        &__action {
          grid-column: 3 / 10;
          text-align: start;
        }

        &__action {
          a {
            width: 40%;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .mty-section {
    .section {
      &-one {
        grid-template-rows: 1fr 3fr 1fr;

        &__logo,
        &__header {
          grid-row: 2;
        }

        &__logo {
          grid-column: 3 / 6;
        }

        &__header {
          grid-column: 6 / 11;

          &-info {
            width: 100%;

            p {
              text-align: left;
            }
          }

          &-action {
            a {
              width: 40%;
            }
          }
        }
      }

      &-two {
        grid-template-rows: 60px 0.5fr repeat(3, 1fr) 60px;

        &__puzzle-one,
        &__puzzle-three,
        &__puzzle-five {
          grid-column: 3/4;
        }

        &__paragraph-one,
        &__paragraph-three,
        &__paragraph-five {
          grid-column: 4 / 7;
        }

        &__puzzle-two,
        &__puzzle-four {
          grid-column: 7/8;
        }

        &__paragraph-two,
        &__paragraph-four {
          grid-column: 8 / 11;
        }

        &__puzzle-one,
        &__paragraph-one,
        &__puzzle-two,
        &__paragraph-two {
          grid-row: 3;
        }

        &__puzzle-three,
        &__paragraph-three,
        &__puzzle-four,
        &__paragraph-four {
          grid-row: 4;
        }

        &__puzzle-five,
        &__paragraph-five {
          grid-row: 5;
        }
      }

      &-five {
        grid-template-rows: .5fr 1fr repeat(2, 3fr) 2fr;

        .mty-card-one {
          grid-row: 3;
          grid-column: 3 / 7;
        }

        .mty-card-two {
          grid-row: 3;
          grid-column: 7 / 11;
        }

        .mty-card-three {
          grid-row: 4;
        }

        &__action {
          grid-row: 5;
        }
      }

      &-six {
        &__title {
          grid-column: 3 / 6;
          grid-row: 2;
          justify-content: space-evenly;

        }
      }
    }
  }
}