<main class="home-mty-sections">
    <section class="hero-section">
          <img src="images/puzzle-hero.svg" alt="" />

          <img src="images/logo-pp-blancoy-negro.svg" alt="Presupuesto Participativo Monterrey 2022" />

          <div class="hero-text-section">
              <p>
                En Monterrey ahora decidiremos juntas y juntos cómo invertir el 5% de la recaudación del pago predial, más de 50 millones de pesos para promover mejoras en tu colonia y en toda la ciudad.
              </p>

              <a class="button" href="/users/sign_up">Regístrate</a>
          </div>
    </section>

    <section class="fases-sections">
        <div class="contenedor-interno">
          <h3>Fases</h3>

          <p>
            Para participar es requisito registrarte y validar tu cuenta.
          </p>

          <section class="fase">
            <span>1</span>

            <h5>Sube tu propuesta</h5>

            <h6>7 al 29 de mayo</h6>
            <p>
              Podrás subir tu propuesta. Conoce qué proyectos puedes proponer para mejorar tu ciudad.
            </p>
          </section>

          <section class="fase">
            <span class="circle yellow">2</span>

            <h5>Evaluación</h5>

            <h6>30 de mayo al 22 de junio</h6>
            <p>
              Las dependencias involucradas evaluarán tu propuesta para revisar si es viable económica, técnica y jurídicamente.
            </p>
          </section>

          <section class="fase">
            <span class="circle green">3</span>

            <h5>Decide</h5>

            <h6>4 al 13 de julio</h6>
            <p>
              Podrás votar por tu proyecto preferido en esta plataforma y en las bibliotecas habilitadas para el programa.
            </p>
          </section>

          <div class="fases-accion">
            <a class="button" href="/processes/presupuesto-participativo">Participa</a>

            <a href="/pages/requisitosparticipacion">
              Ve requisitos para registrarte
            </a>
          </div>


          <section class="tipo-propuestas-section">
            <h3>¿Qué tipo de proyectos califican?</h3>

            <img src="images/categorias-propuestas.svg" alt="Categorías de propuestas" />

            <p>
              Conoce más acerca de los tipos de proyectos puedes proponer:
            </p>

            <a href="/pages/propuestasayuda">Categorías de propuestas</a>
          </section>
        </div>
    </section>


    <section class="zonas-section">
          <h3>Zonas</h3>

          <p>
            El Presupuesto Participativo será distribuido en 30 sectores urbanos.
          </p>

          <p>
            Además en las bibliotecas habilitadas para el programa podrás participar de manera presencial.
          </p>

          <p>
            ¡Conoce tu sector! Dale click a los puntos rojos para ver las ubicaciones de las bibliotecas habilitadas.
          </p>

          <div class="iframe-container">
            <iframe
              src="/embeds/distritos-monterrey.html"
              title="Distritos"></iframe>
          </div>
    </section>


    <section class="definiciones-section">
        <div class="contenedor-interno">
          <h3>¡Qué se arme la ciudad!</h3>

          <h4>Presupuesto Participativo</h4>

          <p>
            Es un mecanismo de participación ciudadana a través del cual la ciudadanía decide cómo invertir una parte de los recursos públicos.
          </p>

          <div>
            <img src="images/pieza-uno.svg" alt="Pieza de puzzle" />
            <p>
              Es un derecho de las y los ciudadanos
            </p>
          </div>

          <div>
            <img src="images/pieza-dos.svg" alt="Pieza de puzzle" />
            <p>
              Es una forma en la que la ciudadanía decide en qué se gastan sus impuestos
            </p>
          </div>

          <div>
            <img src="images/pieza-tres.svg" alt="Pieza de puzzle" />
            <p>
              Es una nueva manera de relacionarse con las y los funcionarios públicos
            </p>
          </div>
        </div>
    </section>

    <section class="closing-section">
        <div class="contenedor-interno">
          <h3>¡Ya se armó!</h3>

          <img src="images/logo-pp-blancoy-negro.svg" alt="Presupuesto Participativo Monterrey 2022" />

          <p>El <strong>18 de julio</strong> podrás enterarte de los proyectos ganadores que se llevarán a cabo en tu sector y que tus vecinos y tú  decidieron.</p>
        </div>
    </section>

    <section class="bottom-section">
          <p>
            Esta es la plataforma de participación Decidimos Monterrey. Juntas y juntos construimos una sociedad más abierta, transparente y colaborativa
          </p>

          <div class="button-container">
            <a class="button" href="/users/sign_up">Regístrate</a>
          </div>
    </section>
</main>
