<div class="mty-main">
  <section class="mty-section section-one">
    <div class="section-one__logo">
      <img src="/decidim-packs/media/images/puzzle-hero-372e3d8478ea65453ddb.svg" alt="" />
    </div>
    <div class="section-one__header">
      <div class="section-one__header-title">
        <img src="/decidim-packs/media/images/logo-pp-blancoy-negro-55b3f605d119bed83ef7.svg" alt="" />
      </div>
      <div class="section-one__header-info">
        <p>
          En Monterrey ahora decidimos juntas y juntos cómo invertir el 5%
          de la recaudación del predial para promover mejoras en tu colonia
          y delegación.
        </p>
      </div>
      <div class="section-one__header-action">
        <a href="#">Regístrate</a>
      </div>
    </div>
  </section>
  <section class="mty-section section-two">
    <div class="section-two__title">
      <h3>
        <span>¿Q</span>ué es el <span>P</span>resupuesto
        <span>P</span>articipativo<span>?</span>
      </h3>
    </div>
    <div class="section-two__puzzle-one">
      <img src="/decidim-packs/media/images/pieza-uno-edd01f08e8fc2a3bbd39.svg" alt="" />
    </div>
    <div class="section-two__paragraph-one">
      <p>
        Es el instrumento de participación ciudadana a través del cual la
        ciudadanía decidirá el destino de una parte del Presupuesto
        Municipal.
      </p>
    </div>
    <div class="section-two__puzzle-two">
      <img src="/decidim-packs/media/images/pieza-dos-485731f495bfbac68cff.svg" alt="" />
    </div>
    <div class="section-two__paragraph-two">
      <p>
        Para la conformación de proyectos innovadores para dar solución a
        problemáticas de su comunidad y mejorar así su calidad de vida.
      </p>
    </div>
    <div class="section-two__puzzle-three">
      <img src="/decidim-packs/media/images/pieza-tres-180644be71b197a0c5e7.svg" alt="" />
    </div>
    <div class="section-two__paragraph-three">
      <p>
        La ciudadanía podrá participar y decidir sobre las propuestas que
        mejorarán los espacios públicos de donde habitan.
      </p>
    </div>
    <div class="section-two__puzzle-four">
      <img src="/decidim-packs/media/images/pieza-cuatro-8abbd3d7818aecaa1d1d.svg" alt="" />
    </div>
    <div class="section-two__paragraph-four">
      <p>
        Decidiremos cómo invertir el 5% de la recaudación del pago predial,
        aproximadamente 50 millones de pesos.
      </p>
    </div>
    <div class="section-two__puzzle-five">
      <img src="/decidim-packs/media/images/pieza-cinco-4b204a783ef3668b282f.svg" alt="" />
    </div>
    <div class="section-two__paragraph-five">
      <p>
        Para promover mejoras en su colonia y su comunidad, promoviendo la
        distribución de ingresos públicos de manera más equitativa.
      </p>
    </div>
  </section>
  <section class="mty-section section-three">
    <div class="section-three__title">
      <h3><span>Z</span>onas en las que se divide el presupuesto</h3>
    </div>
    <div class="section-three__image">pending...</div>
  </section>
  <section class="mty-section section-four">
    <div class="section-four__header">
      <h3>
        <span>F</span>ases del <span>P</span>resupuesto
        <span>P</span>articipativo
      </h3>
    </div>
    <div class="section-four__title">
      <div class="section-four__title-number">1</div>
      <div class="section-four__title-label">Presenta</div>
      <div class="section-four__title-info">
        ¡Participar y subir tu proyecto es muy fácil! Regístrate y crea una
        cuenta.
      </div>
    </div>
    <div class="section-four__body">
      <div class="part-section__title">
        ¿Qué tipo de proyectos califican?
      </div>
      <div class="part-section__image">
        <img src="/decidim-packs/media/images/categorias-propuestas-f306b4715c6975212c76.svg" alt="" />
      </div>
    </div>
    <div class="section-four__action">
      <a href="#">Requisitos para registrarme</a>
    </div>
  </section>
  <section class="mty-section section-five">
    <div class="section-five__title">
      <div class="section-five__title-number">2</div>
      <div class="section-five__title-label">Analiza</div>
      <div class="section-five__title-info">
        ¡Participar y subir tu proyecto es muy fácil! Regístrate y crea una
        cuenta.
      </div>
    </div>
    <div class="section-five__card mty-card-one">
      <div class="section-five__card-img">
        <img src="/decidim-packs/media/images/pieza-seis-96b52754921a02cc3656.svg" alt="" />
      </div>
      <div class="section-five__card-title">
        <p>Evaluación</p>
      </div>
      <div class="section-five__card-paragraph">
        <p>
          Los proyectos serán sometidos a una evaluación para revisar si son
          viables económica, técnica, social y jurídicamente
        </p>
      </div>
    </div>
    <div class="section-five__card mty-card-two">
      <div class="section-five__card-img">
        <img src="/decidim-packs/media/images/pieza-siete-3b7f9e9981a725038c91.svg" alt="" />
      </div>
      <div class="section-five__card-title">
        <p>Publicación</p>
      </div>
      <div class="section-five__card-paragraph">
        <p>
          Aprobados y publicados en la plataforma para que puedas conocerlos
          y decidir los proyectos para armar Monterrey.
        </p>
      </div>
    </div>
    <div class="section-five__card mty-card-three">
      <div class="section-five__card-img">
        <img src="/decidim-packs/media/images/pieza-ocho-067d744f0143b1041c9b.svg" alt="" />
      </div>
      <div class="section-five__card-title">
        <p>Participación</p>
      </div>
      <div class="section-five__card-paragraph">
        <p>
          Es importante tu decisión, analiza en la plataforma cada uno de
          los proyectos publicados que mejorarán nuestra ciudad.
        </p>
      </div>
    </div>
    <div class="section-five__action">
      <a href="#">Ver propuestas</a>
    </div>
  </section>
  <section class="mty-section section-six">
    <div class="section-six__title">
      <div class="section-six__title-number">3</div>
      <div class="section-six__title-label">Decide</div>
    </div>
    <div class="section-six__info">
      <p>¡Es hora de votar!</p>
      <p>
        Del 30 de mayo al 8 de junio podrás decidir qué proyecto beneficia a
        tu distrito a tu calidad de vida y la de tu familia.
      </p>
      <p>
        De forma presencial, podrás encontrar ciberespacios en las
        bibliotecas cercanas a tu sector o en espacios asignados por la
        Dirección de Participación Ciudadano. Consulta el listado de
        bibliotecas.
      </p>
    </div>
  </section>
  <section class="mty-section section-seven">
    <div class="section-seven__title">
      <p>¡Ya se armó!</p>
    </div>
    <div class="section-seven__subtitle">
      <p>El 13 de junio entérate de los ganadores.</p>
    </div>
  </section>
  <section class="section-eight">
    <div class="section-eight__info">
      <p>
        Bienvenido/a a la plataforma participativa Decidimos Juntos
        Monterrey. Construyamos una sociedad más abierta, transparente y
        colaborativa.
      </p>
      <p>Únete, participa y decide.</p>
    </div>
    <div class="section-eight__action">
      <a href="#">Resgístrate</a>
    </div>
  </section>
</div>