<section class="mty-section" style="background-color: #d25838">

  <div class="section-one row">
    <div class="section-one__logo">
      <img src="/images/puzzle-hero.svg" alt="" />
    </div>
    <div class="section-one__header">
      <div class="section-one__header-title" style="margin-bottom: 2em;">
        <img src="/images/logo-pp-blancoy-negro.svg" alt="Presupuesto Participativo Monterrey 2022" />
      </div>
      <div class="section-one__header-info" style="margin-bottom: 1em;">
        <p>
          En Monterrey ahora decidimos juntas y juntos cómo invertir el 5%
          de la recaudación del predial para promover mejoras en tu colonia
          y delegación.
        </p>
      </div>
      <div class="section-one__header-action">
        <a href="#">Regístrate</a>
      </div>
    </div>
  </div>

</section>

<section class="mty-section" style="background-color: #009bca">

  <div class="section-two row">
    <div class="section-two__title">
      <h3>
        ¿<span>Q</span>ué es el <span>P</span>resupuesto <span>P</span>articipativo?
      </h3>
    </div>
    <div class="section-two__puzzle-one">
      <img src="/images/pieza-uno.svg" alt="Pieza de puzzle" />
    </div>
    <div class="section-two__paragraph-one">
      <p>
        Es el instrumento de participación ciudadana a través del cual la
        ciudadanía decidirá el destino de una parte del Presupuesto
        Municipal.
      </p>
    </div>
    <div class="section-two__puzzle-two">
      <img src="/images/pieza-dos.svg" alt="Pieza de puzzle" />
    </div>
    <div class="section-two__paragraph-two">
      <p>
        Para la conformación de proyectos innovadores para dar solución a
        problemáticas de su comunidad y mejorar así su calidad de vida.
      </p>
    </div>
    <div class="section-two__puzzle-three">
      <img src="/images/pieza-tres.svg" alt="Pieza de puzzle" />
    </div>
    <div class="section-two__paragraph-three">
      <p>
        La ciudadanía podrá participar y decidir sobre las propuestas que
        mejorarán los espacios públicos de donde habitan.
      </p>
    </div>
    <div class="section-two__puzzle-four">
      <img src="/images/pieza-cuatro.svg" alt="Pieza de puzzle" />
    </div>
    <div class="section-two__paragraph-four">
      <p>
        Decidiremos cómo invertir el 5% de la recaudación del pago predial,
        aproximadamente 50 millones de pesos.
      </p>
    </div>
    <div class="section-two__puzzle-five">
      <img src="/images/pieza-cinco.svg" alt="Pieza de puzzle" />
    </div>
    <div class="section-two__paragraph-five">
      <p>
        Para promover mejoras en su colonia y su comunidad, promoviendo la
        distribución de ingresos públicos de manera más equitativa.
      </p>
    </div>
  </div>
</section>

<section class="mty-section" style="background-color: #fff">
  <div class="section-three row">
    <div class="section-three__title">
      <h3><span>Z</span>onas en las que se divide el presupuesto</h3>
    </div>
    <div class="section-three__image">pending...</div>
  </div>
</section>

<section class="mty-section" style="background-color: #f2f2f2">
  <div class="section-four row">
    <div class="section-four__header">
      <h3>
        <span>F</span>ases del <span>P</span>resupuesto
        <span>P</span>articipativo
      </h3>
    </div>
    <div class="section-four__title">
      <div class="section-four__title-number">1</div>
      <div class="section-four__title-label">Presenta</div>
      <div class="section-four__title-info">
        ¡Participar y subir tu proyecto es muy fácil! Regístrate y crea una
        cuenta.
      </div>
    </div>
    <div class="section-four__body">
      <div class="part-section__title">
        ¿Qué tipo de proyectos califican?
      </div>
      <div class="part-section__image">
        <img src="/images/categorias-propuestas.svg" alt="" />
      </div>
    </div>
    <div class="section-four__action">
      <a href="#">Requisitos para registrarme</a>
    </div>
  </div>
</section>

<section class="mty-section" style="background-color: #f2f2f2">
  <div class="section-five row">
    <div class="section-five__title">
      <div class="section-five__title-number">2</div>
      <div class="section-five__title-label">Analiza</div>
      <div class="section-five__title-info">
        ¡Participar y subir tu proyecto es muy fácil! Regístrate y crea una
        cuenta.
      </div>
    </div>
    <div class="section-five__card mty-card-one">
      <div class="section-five__card-img">
        <img src="/images/pieza-seis.svg" alt="Piezza de puzzle" />
      </div>
      <div class="section-five__card-title">
        <p>Evaluación</p>
      </div>
      <div class="section-five__card-paragraph">
        <p>
          Los proyectos serán sometidos a una evaluación para revisar si son
          viables económica, técnica, social y jurídicamente
        </p>
      </div>
    </div>
    <div class="section-five__card mty-card-two">
      <div class="section-five__card-img">
        <img src="/images/pieza-siete.svg" alt="Piezza de puzzle" />
      </div>
      <div class="section-five__card-title">
        <p>Publicación</p>
      </div>
      <div class="section-five__card-paragraph">
        <p>
          Aprobados y publicados en la plataforma para que puedas conocerlos
          y decidir los proyectos para armar Monterrey.
        </p>
      </div>
    </div>
    <div class="section-five__card mty-card-three">
      <div class="section-five__card-img">
        <img src="/images/pieza-ocho.svg" alt="Piezza de puzzle" />
      </div>
      <div class="section-five__card-title">
        <p>Participación</p>
      </div>
      <div class="section-five__card-paragraph">
        <p>
          Es importante tu decisión, analiza en la plataforma cada uno de
          los proyectos publicados que mejorarán nuestra ciudad.
        </p>
      </div>
    </div>
    <div class="section-five__action">
      <a href="#">Ver propuestas</a>
    </div>
  </div>
</section>

<section class="mty-section" style="background-color: #f2f2f2">
  <div class="section-six row">
    <div class="section-six__title">
      <div class="section-six__title-number">3</div>
      <div class="section-six__title-label">Decide</div>
    </div>
    <div class="section-six__info">
      <p>¡Es hora de votar!</p>
      <p>
        Del 30 de mayo al 8 de junio podrás decidir qué proyecto beneficia a
        tu distrito a tu calidad de vida y la de tu familia.
      </p>
      <p>
        De forma presencial, podrás encontrar ciberespacios en las
        bibliotecas cercanas a tu sector o en espacios asignados por la
        Dirección de Participación Ciudadano. Consulta el listado de
        bibliotecas.
      </p>
    </div>
  </div>
</section>

<section class="mty-section" style="background-color: #d25838">
  <div class="section-seven row">
    <div class="section-seven__title">
      <p>¡Ya se armó!</p>
    </div>
    <div class="section-seven__subtitle">
      <p>El 13 de junio entérate de los ganadores.</p>
    </div>
  </div>
</section>

<section class="mty-section" style="background-color: #f2f2f2">
  <div class="section-eight row">
    <div class="section-eight__info">
      <p>
        Bienvenido/a a la plataforma participativa Decidimos Juntos
        Monterrey. Construyamos una sociedad más abierta, transparente y
        colaborativa.
      </p>
      <p>Únete, participa y decide.</p>
    </div>
    <div class="section-eight__action">
      <a href="#">Resgístrate</a>
    </div>
  </div>
</section>
